<!-- Customize the about page based on basic layout desgin -->
<!-- import layout.html desgin -->

{% extends "layout.html" %}
{%  block content %}
<h1>About Page</h1>
<p>This web app is designed by a Babson student who wishes help other Babson students succeed in pursuing their degrees
    efficiently.
</p>
<p>The developer thinks it is time-consuming and costly while looking for study materials from platforms such as course
    hero.</p>
<p>Motivated by Babson’s entrepreneurial spirit, she decides to be a market breaker: designs a product that disrupts the
    current study resource sharing business model to truly benefit students.</p>
<p>She believes the most efficient way is to check notes and to learn expierience from students who took this class from
    the same professors.</p>
<p>CAUTIOUS: This website abids Babson policies. Students should follow Babson honor code and avoid
    uploading inappropriate content that might violates copyright and intellectual properties of Babson College.</p>



{% for post in posts %}
<h1>{{post.title}}</h1>
<p>By {{post.author}} on {{post.date_posted}}</p>
<p>{{post.content}}</p>
{% endfor %}
{%  endblock content %}

<!DOCTYPE html>
<html lang="en">
<!-- Import header names from back end python code -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Babson Notes Cloud - {{title}}</title>
    {% else %}
    <title>Babson Notes Cloud</title>
    {% endif %}
</head>

<body>



</body>

</html>